<tr>
  <td colspan="2">
    <input type="checkbox" id="toggleScroll" <%= User.current.pref[:toggle_scroll] ? 'checked' : '' %> />
    <label for="toggleScroll"><%= l(:toggle_columns_scroll) %></label>
  </td>
</tr>
<tr>
  <td colspan="2">
    <input type="checkbox" id="toggleCompact" <%= User.current.pref[:toggle_compact] ? 'checked' : '' %> />
    <label for="toggleCompact"><%= l(:toggle_compact_view) %></label>
  </td>
</tr>